<br><br>
<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="80%">
        <tr><td>Members who attended <%= @course.displayName %>  on <%= @cs.start_date.strftime('%m-%d-%Y')  %> </td></tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table border="1" cellspacing="0" cellpadding="5" width="100%">
  <tr bgcolor="#A9F5F2">
    <td width="100"><b>Name</b></td>
    <td width="100"><b>Email</b></td>
    <td width="130"><b>Phone</b></td>
    <td width="100"><b> Interests </b></td>
     <td width="100"><b> Feedback </b></td>
  </tr>
<% for member in @members -%>
  <tr>
    <td><%= link_to member.fullname, edit_member_path(member.id) %></td>
    <td><%=h member.emailid %></td>
    <td><%=h member.homephone %></td>
   <td><%= link_to 'Edit', member_member_course_interests_path(member.id) %>   </td>
   <td><%= link_to 'Edit', member_member_general_feedbacks_path(member.id) %></td>
  </tr>
<% end %>
      </table>
</td>
  </tr>
   <tr>
   <td align="right"><br>
    
   </td>
 </tr>

</table>
