<script language="javascript">
  
jQuery(document).ready(function() {
    jQuery('input.autocomplete').each(function(){
    var data = jQuery(this).attr('data-autocomplete-url');
    jQuery(this).autocomplete(data,{
      formatItem: function(rowdata) {
          var details = rowdata[0].split(";");
          return details[0];
      },
      formatResult: function (rowdata) {
          var details = rowdata[0].split(";");
          jQuery('#emailid').val(details[1]);
          return details[1];
      }
    });
    });
});

</script>
<div id="signup_panel">
<% form_for :member_attendance, @member_attendance, :url => {:action => 'create'} do |f| %>
  <%= f.error_messages %>
<p>
<%  unless @nocs.nil? %>
    No courses scheduled for the current time. Please <%= link_to 'Click Here', {:controller => "crs_schedules", :action=>"new"} %> to create a course schedule.
<% else %>
      <% if @csid.nil? %>
          Event
          <%= collection_select(:coursesel, :id, @courses, :id, :displayName,
                                {:prompt => true})%>&nbsp;&nbsp;&nbsp;&nbsp;Start Date&nbsp;<%= calendar_date_select_tag "start_date", @sel_from_date, :year_range => 1.years.ago..0.years.ago, :popup => "force", :time => "true"%>
      <% else %>
          <b>Event:</b>&nbsp;<%=  @sel_course.displayName %>&nbsp;&nbsp;&nbsp;&nbsp;<b>Date:&nbsp;</b><%=  @sel_from_date.strftime('%b %d, %Y') %>
          <%=  hidden_field_tag 'csid', @csid %>
      <% end %>
</p>

<p>
  Please type your email below&nbsp;<br/>
 <%= f.text_field :auto_member_emailid, :class => 'autocomplete', 'data-autocomplete-url'=>autocomplete_for_member_emailid_members_path %>
 <%= hidden_field_tag(:emailid,"")  %>
  <input class="el08" type="submit" value="Sign In"/>
</p>
<p>
 New members&nbsp;&nbsp;<%= link_to 'click here', {:controller=>"members", :action=>"new", :mode=>"signin", :csid=>@csid} %>
</p>
<% end %>
<% end %>
</div>