<h1>Course Schedules for Course '<%=  @course.displayName %>'</h1>
<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="80%">
        <tr>
          <td><%= button_to 'Add Course Schedule',{:action => 'new', :controller => 'course_schedules', :id => @course.id}  %></td>
          <%#*new_course_course_schedule_path(@course_schedule)%>
          <% @course.id %>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
<table>
  <tr>
    <th width="200">Start date</th>
    <th width="200">End date</th>
    <th>Teacher name</th>
  </tr>

  <% for course_schedule in @course_schedules -%>
  <tr>
    <td><%=h course_schedule.start_date %></td>
    <td><%=h course_schedule.end_date %></td>
    <td><%=h course_schedule.teacher_name %></td>
  </tr>
<% end %>
</table>
</td>
  </tr>
</table>
<br>
<br>

<%= link_to 'Back', courses_path %>