<h1>Course Schedules for Course '<%=  @course.displayName %>'</h1>
<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="80%">
        <tr>
          <td><%= button_to 'Add Course Schedule',{:action => 'new', :controller => 'course_schedules', :id => @course.id}  %></td>
          <%#*new_course_course_schedule_path(@course_schedule)%>
          <% @course.id %>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
<table border="1" cellspacing="0" cellpadding="5" width="70%">
  <tr bgcolor="#A9F5F2">
    <th width="60">Start date</th>
    <th width="60">End date</th>
    <th width="60">Teacher name</th>
  </tr>

  <% for course_schedule in @course_schedules -%>
  <tr>
    <td><%=h course_schedule.start_date.strftime('%m-%d-%Y %I:%M %p') %></td>
    <% if !course_schedule.end_date.nil? %>
    <td><%=h course_schedule.end_date.strftime('%m-%d-%Y %I:%M %p') %></td>
    <% else %>
    <td>&nbsp;</td>
    <% end%>
    <td><%=h course_schedule.teacher_name %></td>
  </tr>
<% end %>
</table>
</td>
  </tr>
     <tr>
   <td align="center"><br>
    <%= will_paginate @course_schedules %>
   </td>

</table>
<br>
<br>

<%= link_to 'Back', courses_path %>