<h1>Course Schedule for Course '<%=  @course.displayName %>'</h1>

<% form_for :course_schedule, @course_schedule, :url => {:action => 'create', :course_id => params[:id]} do |f| %>
 <p>
    <label for ="start_date"> Start Date </label><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <label for ="end_date"> End Date </label><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <label for ="teacher_name"> Teacher Name </label><br />
    <%= f.text_field :teacher_name %>
  </p>

  <p>
    <%= submit_tag 'Submit' %>
  </p>

<% end %>
<%#= link_to 'Back', course_schedules_path %>