<h1>Course Schedule for Course '<%=  @course.displayName %>'</h1>

<% form_tag :action => 'create',:course_id => params[:id] do -%>
 <p>
    <label for ="start_date"> Start Date </label><br />
    <%= calendar_date_select_tag "start_date", @start_date, :year_range => 3.years.ago..0.years.ago %>
  </p>
  <p>
    <label for ="end_date"> End Date </label><br />
    <%= calendar_date_select_tag "end_date", @end_date, :year_range => 3.years.ago..0.years.ago %>
  </p>
  <p>
    <label for ="teacher_name">Teacher Name</label><br />
    <%= collection_select(:teachers, :id, @teachers, :id, :firstname,
                            {:prompt => "Select a course"})%>&nbsp;&nbsp;
  </p>
    <label for ="coursename">Assistant</label>&nbsp;&nbsp;
      <%= collection_select(:assistants, :id, @assistants, :id, :firstname,
                            {:prompt => "Select a course"})%>&nbsp;&nbsp;
  <p>
    <%= submit_tag 'Submit' %>
  </p>

<% end -%>
<%#= link_to 'Back', course_schedules_path %>