<p>
  <b>Start date:</b>
  <%=h @course_schedule.start_date %>
</p>
<p>
  <b>End date:</b>
  <%=h @course_schedule.end_date %>
</p>
<p>
  <b>Teacher name:</b>
  <%=h @course_schedule.teacher_name %>
</p>


<%= link_to 'Edit', edit_course_schedule_path(@course_schedule) %> |
<%= link_to 'Back', { :action => 'index', :controller => 'course_schedules', :course_id => @course_schedule.course_id} %>