<p>
  <b>Course:</b>
  <%=h @course_schedule.course_id %>
</p>

<p>
  <b>Displayname:</b>
  <%=h @course_schedule.displayname %>
</p>

<p>
  <b>Center:</b>
  <%=h @course_schedule.center_id %>
</p>

<p>
  <b>Start date:</b>
  <%=h @course_schedule.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @course_schedule.end_date %>
</p>

<p>
  <b>Location name:</b>
  <%=h @course_schedule.location_name %>
</p>

<p>
  <b>Address1:</b>
  <%=h @course_schedule.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @course_schedule.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @course_schedule.city %>
</p>

<p>
  <b>State:</b>
  <%=h @course_schedule.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @course_schedule.country %>
</p>

<p>
  <b>Teacher name:</b>
  <%=h @course_schedule.teacher_name %>
</p>

<p>
  <b>Deleted:</b>
  <%=h @course_schedule.deleted %>
</p>


<%= link_to 'Edit', edit_course_schedule_path(@course_schedule) %> |
<%= link_to 'Back', course_schedules_path %>