<br><br>
<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr><td><b>Search members by</b></td></tr>
        <tr>
          <td>
            <% form_tag '/send_emails/show', :method => 'get' do -%>
    <label for ="coursename">Course Name</label>&nbsp;&nbsp;<%= collection_select(:course, :id, @courses, :id, :displayName, options ={:prompt => "Select a course"}) %>&nbsp;&nbsp;

     <label for ="courseschedules"> Course Schedules </label> <%= collection_select(:courseschedule, :id, @cls, :id, :start_date, options ={:prompt => "Select a courseSchedule"}) %>&nbsp;&nbsp;

   <br><br><label for ="startdate">From Date</label>&nbsp;&nbsp;<%= date_select('range', 'from_date', :order => [:month, :day, :year], :include_blank => true)%>
   &nbsp;&nbsp;<label for ="enddate"> To Date </label>&nbsp;&nbsp;<%= date_select('range', 'to_date', :order => [:month, :day, :year], :include_blank => true)%>&nbsp;&nbsp;<%= submit_tag 'Go',:action => "show" %>
            <% end -%>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <% form_tag '/send_emails/composemessage' do -%>
      <table border="1" cellspacing="0" cellpadding="5" width="100%">
  <tr bgcolor="#A9F5F2">
    <td width="40"><b> Select </b></td>
    <td width="100"><b>Name</b></td>
    <td width="100"><b>Email</b></td>
    <td width="130"><b>Phone</b></td>
  </tr>

<% for member in @members -%>
  <tr>
    <td><%= check_box_tag  "member_ids[]", member.id %></td>
    <td><%= member.firstname %>&nbsp;<%= member.lastname %></td>
    <td><%=h member.emailid %></td>
    <td><%=h member.homephone %></td>
  </tr>
<% end %>
      </table>
      <%= submit_tag "Compose Message" %>
      <% end -%>
</td>
  </tr>
   <tr>
   <td align="right"><br>
    <%= will_paginate @members %>
   </td>
 </tr>

</table>
