<br><br>
<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr><td><b>Search course schedules</b></td></tr>
        <tr>
          <td>
            <% form_tag '/send_emails/show', :method => 'get' do -%>
    <label for ="coursename">Course Name</label>&nbsp;&nbsp;
      <%= collection_select(:coursedd, :id, @courses, :id, :displayName,
                            {:prompt => "Select a course"})%>&nbsp;&nbsp;
     
   <br><br><label for ="startdate">From Date</label>&nbsp;&nbsp;<%= date_select('range', 'from_date', :order => [:month, :day, :year], :include_blank => true)%>
   &nbsp;&nbsp;<label for ="enddate"> To Date </label>&nbsp;&nbsp;<%= date_select('range', 'to_date', :order => [:month, :day, :year], :include_blank => true)%>&nbsp;&nbsp;<%= submit_tag 'Search',:action => "show" %>
            <% end -%>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <% form_tag '/send_emails/composemessage' do -%>
      <table border="1" cellspacing="0" cellpadding="5" width="100%">
  <tr bgcolor="#A9F5F2">
    <td width="40"><b> Select </b></td>
    <td width="100"><b>Course Start Date</b></td>
    <td width="100"><b>Course End Date</b></td>
  </tr>

<% for courseschedule in @courseschedules -%>
  <tr>
    <td><%= radio_button_tag  "course_schedule_radio", courseschedule.id %></td>
    <td><%= courseschedule.start_date %></td>
    <td><%= courseschedule.end_date %></td>
  </tr>
<% end %>
      </table>
      <%= submit_tag "Send Email" %>
      <% end -%>
</td>
  </tr>
   <tr>
   <td align="right"><br>
    <%= will_paginate @courseschedules %>
   </td>
 </tr>

</table>
