<%= javascript_include_tag :defaults %>
<%= calendar_date_select_includes "silver" %>
<h1>Import participants list</h1>
<%=form_tag({:action => 'upload_file'},
                        :multipart => true) %>
<table border="0" cellspacing="0" cellpadding="0">
  <p><b>Note:</b>&nbsp;&nbsp;Before you upload, please make sure the file has been exported from secure site and then saved as a CSV format using Mircosoft Excel.<br><br>
  <tr>
    <td>Course/Event</td>
    <td>&nbsp;<%= collection_select(:coursesel, :id, @courses, :id, :displayName,
                            {:prompt => "Select a course"})%></td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td>Start Date</td>
    <td>&nbsp;<%= calendar_date_select_tag "start_date", @sel_from_date, :year_range => 3.years.ago..0.years.ago, :popup => "force", :time => true%></td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td>Teacher</td>
    <td>&nbsp;<%= collection_select(:teacherssel, :id, @teachers, :id, :fullname,
                            {:prompt => "Select"})%></td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td>Assistant 1</td>
    <td>&nbsp;<%= collection_select(:assistantssel1, :id, @assistants, :id, :fullname,
                            {:prompt => "Select"})%></td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td>Assistant 2</td>
    <td>&nbsp;<%= collection_select(:assistantssel2, :id, @assistants, :id, :fullname,
                            {:prompt => "Select"})%></td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
</table>
<label for="upload_file"><font color="green"><b>CSV File<b></font></label> :
<%= file_field 'upload', 'datafile' %></p>
<%=  hidden_field_tag 'mode', @mode %>
<%= submit_tag "Upload" %>