<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% if permitted_to? :index, User.new %>
    <% for role in Role.find(:all) %>
  <div>
    <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
    <%= role.role_name %>
  </div>
  <% end %>
<% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
    <br>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>