<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field 'user', 'member_id', :value => params[:id]%>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <%= hidden_field 'user', 'email', :value => @mem_emailid %>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <br>
  <% for role in @roles %>
    <input type="checkbox" id="<%=role.id%>" name="role_ids[]" value="<%= role.id %>"> <%= role.role_name %>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>