<h1>Users</h1>


<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="80%">
        <tr>
          <td><%= button_to 'Create New user', :action => "membersearch" %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><b>Search By</b></td></tr>
        <tr>
          <td>
            <% form_tag '/users/show' do -%>
            <table border="0" cellspacing="0" cellpadding="0" width="50%">
              <tr><td width="10">Username contains&nbsp;&nbsp;&nbsp;</td><td width="60"><%= text_field_tag  'search_by_username','', :size => 15 %>&nbsp;&nbsp;</td>
              <tr><td><%= button_to 'Go', :action => "show" %></td></tr>
            </table>
            <% end -%>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
  <table border="1" cellspacing="0" cellpadding="3" width="60%">
  <tr bgcolor="#A9F5F2">
    <td width="100"><b>Username</b></td>
    <td width="200"><b>Full Name</b></td>
    <td width="100"><b>Email</b></td>
  </tr>
<% for user in @users -%>
  <tr>
    <td><%= link_to user.username, edit_user_path(user.id) %></td>
    <td><%=h user.member.firstname %>&nbsp;<%=h user.member.lastname %></td>
    <td><%=h user.member.emailid %></td>
  </tr>
<% end %>
      </table>
</td>
  </tr>
</table>