<p>
  <b>Name:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Displayname:</b>
  <%=h @course.displayName %>
</p>

<p>
  <b>Deleted:</b>
  <%=h @course.deleted %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<%#*<table border="0" cellspacing="0" cellpadding="0" width="80%">%>
  <%#*<tr>%>
    <%#*<td>%>
      <%#*<table border="0" cellspacing="0" cellpadding="0" width="80%">%>
        <%#*<tr>%>
          <%#*<td><%= button_to 'Create New user', :action => "new" %>
        <%#*</tr>%>
        <%#*<tr><td>&nbsp;</td></tr>%>
        <%#*<tr><td><b>Search By</b></td></tr>%>
        <%#*<tr>%>
          <%#*<td>%>
            <%# form_tag '/users/show' do -%>
            <%#*<table border="0" cellspacing="0" cellpadding="0" width="50%">%>
              <%#*<tr><td width="10">Username contains&nbsp;&nbsp;&nbsp;</td><td width="60"><%= text_field_tag  'search_by_username','', :size => 15 %>&nbsp;&nbsp
              <%#<tr<tr><td><%= button_to 'Search Again', :action => "show" %>
            <%#*</table>%>
            <%# end -%>
          <%#*</td>%>
        <%#*</tr>%>
        <%#*<tr><td>&nbsp;</td></tr>%>
      <%#*</table>%>
    <%#*</td>%>
  <%#*</tr>%>
  <%#*<tr>%>
    <%#*<td>%>
      <%#*<table border="0" cellspacing="0" cellpadding="0" width="60%">%>
  <%#*<tr>%>
    <%#*<td width="100"><b>Username</b></td>%>
    <%#*<td width="200"><b>MemberId</b></td>%>
    <%#*<td width="100"><b>Updated By</b></td>%>
  <%#*</tr>%>
<%# for user in @users -%>
  <%#*<tr>%>
    <%#*<td><%= user.username %>
    <%#*<td><%=h user.memberid %>
    <%#*<td><%=h user.updateby %>
  <%#*</tr>%>
<%# end %>
      <%#*</table>%>
<%#*</td>%>
  <%#*</tr>%>
<%#*</table>%>