<h1>Recurring Events for Course '<%=  @course.displayName %>'</h1>
<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="80%">
        <tr>
          <td><%= button_to 'Add Recurring Event',{:action => 'new', :controller => 'recurring_events', :id => @course.id}  %></td>
          <%#*new_recurring_event_path(@recurring_event)%>
          <% @course.id %>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
<table border="1" cellspacing="0" cellpadding="5" width="80%">
  <tr bgcolor="#A9F5F2">
    <th width="60">Edit</th>
    <th width="80">Start date</th>
  </tr>

  <% for recurring_event in @recurring_events -%>
  <tr>
    <td align="center"><%= link_to "Edit", edit_recurring_event_path(recurring_event.id)  %></td>
    <td><%=h recurring_event.start_date.strftime('%m-%d-%Y %I:%M %p') %></td>
  </tr>
<% end %>
</table>
</td>
  </tr>
     <tr>
</table>
<br>
<br>

<%= link_to 'Back', courses_path %>