<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= Center %><br />
    <%= text_field_with_auto_complete :center, :city, { :size => 30 }, { :url => formatted_member_attendances_path(:js), :method => :get, :param_name => 'search' } %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


