<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Center Management System</title>
<%= stylesheet_link_tag "default", :media => "all" %>
<%= javascript_include_tag ['jquery-1.6.2.js', 'jquery-ui-1.8.core-and-interactions.min.js', 'jquery-ui-1.8.autocomplete.min.js','tag-it.js','prototype', 'application', 'calendar_date_select'] %>
<%= calendar_date_select_includes "silver" %>
<%= stylesheet_link_tag "jquery.ui.autocomplete.custom", :media => "all" %>

</head>
<body id="store">
<div id="banner">
<%= link_to image_tag ("aol.jpg", :border =>0) , root_path %>
<%= @page_title || "&nbsp;" %>
  <div align="right" style="font-size:medium;">
    <% if current_user %>
    <font color="black"><b><%= current_user.member.fullname %></b></font> |
      <%= link_to "Member Sign Up","/" %> |
      <%= link_to "Edit Profile", edit_user_path(current_user) %> |
      <%= link_to "Logout", logout_path  %>&nbsp;&nbsp;
    <% else %>
      <%= link_to "Register", new_user_path  %> |
      <%= link_to "Login", login_path  %>
    <% end %>
  </div>
</div>
<div id="columns">
<div id="side">
	<a href="/members">Members</a><br /><br />
	<a href="/courses">Courses</a><br /><br />
        <% if permitted_to? :index, User.new %>
          <a href="/users">Users</a><br /><br />
        <% end %>
        <a href="/upload">Import Participant List</a><br />
        <br/><br/>
        <a href="/memberreport">Member Course Report</a><br /><br />
</div>
<div id="main">
  
	<% if flash[:notice] -%>
	<div id="notice"><%= flash[:notice] %></div>
	<% end -%>
        <%= render_crumbs %>
	<%= yield :layout %>
        
</div>
</div>
 
</body>
</html>