<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<title>Center Management System</title>
<%= javascript_include_tag 'jquery-1.6.4.min.js', 'jquery.autocomplete.js', 'superbly-tagfield.min.js','jquery.templating', 'jquery.ui.autocomplete.ext', 'jquery.ui.autocomplete','application' %>
<%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.16.custom', "signup", "jquery.autocomplete","superbly-tagfield",'jquery.ui.autocomplete', :media => "all" %>



 <script language="javascript">
$.noConflict();
</script>

</head>
<body id="signup_top">
<%= link_to image_tag ("aol.jpg", :border =>0) , root_path %>
<%= @page_title || "&nbsp;" %>
<div id="signup_main">

	<%= yield :layout %>
        
</div>
 
</body>
</html>