<% form_tag :action => "course_schedule_select" do -%>
<br>
<br>
<p><b> Please Enter Course Schedule details </b> </p>
<p>
    <label for ="coursename"> CourseName </label><br />
    <br>
   <%= select "",'coursename',%w{part-I Part-II Part-III Part-IV Yoga Meditation} %>
  </p>
  <p>
    <label for ="startdate"> StartDate </label><br />
    <br>
    <%= text_field_tag 'startdate' %>
  </p>
  <p>
    <label for ="enddate"> EndDate </label><br />
    <br>
    <%= text_field_tag 'enddate' %>
    <%= params[:member_id] %>
  </p>
  <p>
  <%= hidden_field_tag 'member_id', 'memberid',  :value => params[:member_id] %>
  </p>
<br>
  <%= submit_tag "Search", {:action => "course_schedule_select"} %> &nbsp;&nbsp;&nbsp;
  
  <br>
<br>
<% end %>
