
<% form_tag '/members/course_schedule_insert' do -%>
<br>

<br>
   <% if @course_schedules.nil? %>
      <p> No Course Schedules were found for the given input </p>
      <br> <br> <br>
        <br> <br> <br> <br>
        <br> <br> <br> <br>
        <br> <br> <br> <br>
        <br> <br> <br> <br>
        <br> <br> <br>
      <% else %>
<p> Please Select the required Course Schedule </p>

<br>


 <table border="2" cellspacing="0" cellpadding="5" width="60%">
  <tr>

    <td width="100"><b>State</b></td>
    <td width="200"><b>City</b></td>
    <td width="100"><b> Country</b></td>
    <td width="100"><b> Teachername</b></td>
    <td width="100"><b> Select </b></td>
 <%= params[:member_id] %>
  </tr>
  <div id="radio_buttons">
   
    <% for course_schedule in @course_schedules %>
  <tr>
    <td><%= course_schedule.state %></td>
    <td><%=h course_schedule.city %></td>
    <td><%=h course_schedule.country %></td>
    <td><%=h course_schedule.teacher_name %></td>
    <td><%= radio_button_tag  'id',course_schedule.id %> </td>
    <%= hidden_field_tag   'member_id',   params[:member_id] %>
  </tr>

<% end %>
   <%= submit_tag "Add" , {:action => "course_schedule_insert"} %>
<% end %>
</div>
<br>


  </table>
  <br>


<%  end %>