<table id="members" border="0" cellspacing="0" cellpadding="0" width="95%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="95%">
        <tr>
          <td>
            <% if @myconn.blank? %>
              <%= button_to 'Create New Member', :action => "new" %></td>
            <% else %>
              <%= button_to 'Create New Connection', :action => "new", :myconn => @myconn %></td>
            <% end %>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            <% form_for @search do |f| %>
              <table border="0" cellspacing="1" cellpadding="0" width="100%">
                <tr><td>Name&nbsp;&nbsp;<%= f.text_field  :lastname_or_firstname_like, :size => 15 %>&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;<%= f.text_field  :emailid_like, :size => 15 %>&nbsp;&nbsp;&nbsp;&nbsp;Tags&nbsp;&nbsp;<%= text_field_tag :search_by_tags,params[:search_by_tags], :size => 15 %></td></tr>
              </table>

          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><b>Attended</b>&nbsp;</td></tr>
        <tr>
          <td>

            <label for ="coursename">Course</label>&nbsp;&nbsp;<%= collection_select(:coursedd, :id, @courses, :id, :displayName,
                            {:prompt => "Select a Course"})%>
      &nbsp;&nbsp;

   <input type="hidden" name="myconn" id="myconn" value="<%= @myconn %>"></input>
<%= f.submit "Search" %>
            <% end %>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
</table>
<%= render "members" %>