<div id="signup_panel">
<% form_for(@member) do |f| %>
  <%= f.error_messages %>
  <p>
    Email Id<br />
    <%= f.text_field :emailid %>
  </p>
  <p>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr><td width="350">First Name</td><td width="150">Last Name</td></tr>
    <tr><td><%= f.text_field :firstname %></td><td><%= f.text_field :lastname %></td></tr>
  </table>
  </p>
  <p>
    Phone&nbsp;(Format: xxx-xxx-xxxx)<br />
    <%= f.text_field :homephone %>
  </p>
<p>
Have you taken the Art of Living Course?&nbsp;Yes<%= f.radio_button :taken_course,"true" %>&nbsp;No&nbsp;<%= f.radio_button :taken_course,"false" %>
  </p>
  <% if session[:current_user_super_admin] and @mode.blank? %>
  <p>
    Center&nbsp;<br />
    <%= collection_select(:centersel, :id, @centers, :id, :location,
                            {:prompt => "Select a center"})%>
  </p>
  <% end  %>
  <p>
    <%=  hidden_field_tag :mode, params[:mode] %>
    <%=  hidden_field_tag :csid, params[:csid] %>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

</div>