<% form_for(@member) do |f| %>
  <%= f.error_messages %>
  <p>
    Email Id<br />
    <%= f.text_field :emailid %>
  </p>
  <p>
    First Name<br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    Last Name<br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    Home Phone&nbsp;(Format: xxx-xxx-xxxx)<br />
    <%= f.text_field :homephone %>
  </p>
  <p>
    Cell Phone&nbsp;(Format: xxx-xxx-xxxx)<br />
    <%= f.text_field :cellphone %>
  </p>
  <p>
Gender<br>
&nbsp;Male<%= radio_button_tag :gender,"M" %>
&nbsp;Female&nbsp;<%= radio_button_tag :gender,"F" %>
  </p>
  <p>
    <%=  hidden_field_tag 'mode', @mode %>
    <%=  hidden_field_tag 'csid', @csid%>
    <%= f.submit 'Create' %>
  </p>
<% end %>

