<h1>Members</h1>
<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="80%">
        <tr>
          <td><%= button_to 'Create New Member', :action => "new" %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><b>Search By</b></td></tr>
        <tr>
          <td>
            <% form_tag '/members/show' do -%>
            <table border="0" cellspacing="0" cellpadding="0" width="50%">
              <tr><td width="10">Email contains&nbsp;&nbsp;&nbsp;</td><td width="60"><%= text_field_tag  'search_by_email','', :size => 15 %>&nbsp;&nbsp;</td>
              <tr><td><%= button_to 'Search Again', :action => "show" %></td></tr>
            </table>
            <% end -%>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="60%">
  <tr>
    <td width="100"><b>Name</b></td>
    <td width="200"><b>Email</b></td>
    <td width="100"><b>Phone</b></td>
  </tr>
<% for member in @members -%>
  <tr>
    <td><%= member.firstname %>&nbsp;<%= member.lastname %></td>
    <td><%=h member.emailid %></td>
    <td></td>
  </tr>
<% end %>
      </table>
</td>
  </tr>
</table>
