<p>
  <b>Name:</b>
  <%=h @member.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @member.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @member.phone %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>