<br><br>
<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="80%">
        <tr>
          <td><%= button_to 'Create New Member', :action => "new" %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><b>Search By</b></td></tr>
        <tr>
          <td>
            <% form_tag '/members/show' do -%>
            <table border="0" cellspacing="1" cellpadding="0" width="100%">
              <tr><td>Name&nbsp;&nbsp;<%= text_field_tag  :search_by_name,params[:search_by_name], :size => 15 %>&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;<%= text_field_tag :search_by_email, params[:search_by_email], :size => 15 %>&nbsp;&nbsp;<%= button_to 'Go', :action => "show" %></td></tr>
            </table>
            <% end -%>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table border="1" cellspacing="0" cellpadding="5" width="100%">
  <tr bgcolor="#A9F5F2">
    <td width="50"><b>Id</b></td>
    <td width="100"><b>Name</b></td>
    <td width="100"><b>Email</b></td>
    <td width="130"><b>Phone</b></td>
    <td width="100"><b> Courses Attended </b></td>
    <td width="100"><b> Interests </b></td>
      <td width="100"><b> Feedback </b></td>
  </tr>
<% for member in @members -%>
  <tr>
    <td><%= link_to member.id, edit_member_path(member.id) %></td>
    <td><%= member.firstname %>&nbsp;<%= member.lastname %></td>
    <td><%=h member.emailid %></td>
    <td><%=h member.homephone %></td>
   <td><%= link_to 'Edit', member_member_courses_path(member.id)%>   </td>
   <td><%= link_to 'Edit', member_member_course_interests_path(member.id) %>   </td>
   <td><%= link_to 'Edit', member_member_general_feedbacks_path(member.id) %></td>

  </tr>
<% end %>
      </table>
</td>
  </tr>
   <tr>
   <td align="right"><br>
    <%= will_paginate @members %>
   </td>
 </tr>

</table>
